.tic-tac {
  width: 900px;
  height: 900px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.container {
  background-color: #eaf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 280px;
  width: 280px; */
}
.box {
  background-color: #8b78e6;
  width: 280px;
  height: 280px;
  border-radius: 16px;
  font-size: 200px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}
.box:hover {
  background-color: #f3b431;
  cursor: pointer;
}
